@charset "UTF-8";

/* Typical Device Breakpoints:
------------------------------
Pequenas telas: Até 600px
Celular: De 600 até 768
Tablet: De 768 até 992px
Desktop: De 992px até 1200px
Grandes telas: acima de 1200px
*/

@media screen and (min-width: 768px) {
   i#burguer {
    display: none;
   } 

   menu {
    display: block;
   }
   
   menu > ul > li {
    display: inline-block;
   }

   main {
    width: 768px;
   }
}

